
div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border: solid red 2px;
    background-color: cornflowerblue;
    font-weight: bolder;
    justify-content: center;
}